/* généralité */

*,::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

.light{
    background: white;
    color: black;
    transition: 0.5s ease-in-out ;
  }

  body.light #burger span{
      background: black;
  }
  
  .dark{
    background: black;
    color: white;
    transition: 0.5s ease-in-out ;
  }

  body.dark #burger span{
    background: white;
}
  body.light header a{
    background: white;
    color: black;
    transition: 0.5s ease-in-out ;
  }

  body.dark header a{
      background: black;
      color: white;
      transition: 0.5s ease-in-out ;
  }

  .SM{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }

  body.dark .SM{
      color: black;
      background: white;
  }

h1, h2, h3{
    font-family: 'Oxanium', cursive;
    font-size: 45px;
    text-align: right;
    padding-right: 20px;
}
h3{
    font-size: 45px;
    text-align: end;
}

body.light a:hover{
    color: blue;
    font-size: 40px;
}

body.dark a:hover{
    color: blue;
    font-size: 40px;
}

p, a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p{
    margin: 0 20px;
}

.left{
    text-align: left;
    margin-left: 20px;
}

h1{
    font-size: 70px;
    text-align: end;
    text-decoration: underline;
}

h2{
    font-size: 35px;
    margin-bottom: 38px;
    text-decoration: underline;
}

header, section{
    width: 100%;
}


section.flex{
    justify-content: space-around;
}

div{
    margin: 9px 0;
}

.tel{
    display: none;
}

.intermediaire{
    display: none;
}

.flex{
    display: flex;
    justify-content: space-between;
}

a{
    color: black;
    text-decoration: none;
}

section img{
width: 50%;
}

/* header */

header{
    width: 100%;
}

.menu{
    flex-direction: column;
    justify-content: space-around;
    gap: 25px;
}

nav a{
    font-size: 30px;
    padding: 13px 0;
}

/* séparation */

.séparation{
    margin: 47px 0;
    justify-content: center;
}

/* SF */
.SFtexte{
    width: 50%;
}

.slider img{
    display: none;
    width: 100%;
  }
  
  img.active{
    display: block;
  }

/* JV */

.imgp{
    display: none;
}

/* footer */

footer{
    margin-top: 47px;
    padding: 33px 16px;
    color: white;
    background: black;
}

footer a{
    color: white;
}




@media (max-width: 1300px){
    .menu{
        display: none;
    }

    .intermediaire{
        display: flex;
        justify-content: space-between;
    }

    header img{
        width: 100%;
    }

    .imgord{
        display: none;
    }

    .imgp{
        display: block;
        width: 50%;
    }



    #JV{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px){

    /* généralité */
    .ordi{
        display: none;
    }

    img{
        width: 70%;
    }

    .intermediaire{
        display: none;
    }


    .tel{
        display: block;
    }

    .flex{
        flex-direction: column;
        align-items: center;
    }

    .haut{
        flex-direction: row;
    }

    h1{
        text-align: left;
        width: 90%;
        font-size: 40px;
    }

    h2, .left{
        text-align: center;
    }

    h3{
      font-size: 30px;  
      text-align: left;
    }

    /* menu burger */
    
    
       #navburger div{
        display       : flex;
        flex-direction: column;
        position: absolute;
        margin  : 0;
        right   : 0;
        top     : 20%;
        
      ;
        min-width: 50vw;
        height   : 40vh;
       }
    
       #root {
        position: relative;
        overflow-x: hidden;
    }
    
    
     #navburger {
    
      display : none;
      position: absolute;
      top     : 0;
      right: 0;
      margin  : 0;
      width   : 100vw;
      height  : 100vh;
      z-index: 99;
    
      transform-origin: 0% 0%;
      transform       : translate(200%, 0);
    
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    
     }
    
     #navburger.open {
         display: block;
      transform: none;
      position : absolute;
    }
    
    #burger span{
      display      : block;
            position     : absolute;
            height       : 4px;
            width        : 100%;
            margin-bottom: 5px;
            background   : #000000;
            border-radius: 3px;
            z-index      : 100;
            left         : 0;
    
            transform : rotate(0deg);
            transition: .25s ease-in-out;
     }
    
    #burger{
    
      display    : block;
      position   : relative;
      margin     : 0 16px;
      width      : 33px;
      height     : 28px;
      z-index    : 100;
            user-select: none;
            cursor     : pointer;
    }
    
    #burger span:nth-child(1) {
      top             : 0px;
      transform-origin: left top;
    }
    #burger span:nth-child(2) {
      top             : 12px;
      transform-origin: left center;
    }
    #burger span:nth-child(3) {
      top             : 24px;
      transform-origin: left bottom;
    }
    
    #burger.open span:nth-child(1) {
      width    : 110%;
      transform: rotate(45deg);

    }
    #burger.open span:nth-child(2) {
      width  : 0%;
      opacity: 0;

    }
    #burger.open span:nth-child(3) {
      width    : 110%;
      transform: rotate(-45deg);

    }

    /* img JV */

    .imgp{
        display: none;
    }

    /* footer */

    .footer{
        flex-direction: row;
    }

}