/* généralité */

*,*::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

HTML{
    scroll-behavior: smooth;
}

.light{
    background: white;
    color: black;
    transition: 0.5s ease-in-out ;
  }

  
  .dark{
    background: black;
    color: white;
    transition: 0.5s ease-in-out ;
  }


  .SM{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: black;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif ;
  }

  body.dark .SM{
      color: black;
      background: white;
      border: 1px solid black;
  }

h1, h2, h3{
    font-family: 'Oxanium', cursive;
    font-size: 40px;
    text-align: right;
    padding-right: 20px;
}

body.light a:hover, body.dark a:hover{
    color: blue;
}

body.dark header a:hover, body.light header .menu a:hover{
    font-size: 25px;
}

p, a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p{
    margin: 0 20px;
}

.left{
    text-align: left;
    margin-left: 20px;
}

h1{
    margin-top: 80px;
    font-size: 90px;
}

h3,h1{
    color: white;
    text-align: start;
    margin-left: 15px;
}

h2{
    font-size: 35px;
    margin-bottom: 38px;
    text-decoration: underline;
}

header, section{
    width: 100%;
}


section.flex{
    justify-content: space-around;
}

div{
    margin: 9px 0;
}

.tel{
    display: none;
}

.intermediaire{
    display: none;
}

.flex{
    display: flex;
    justify-content: space-between;
}

a{
    color: black;
    text-decoration: none;
}

section img{
width: 50%;
}

a.underline-hover-effect {
    text-decoration: none;
  }

  .underline-hover-effect {
    display: inline-block;
    padding-bottom: 1px; /* defines the space between text and underline */
    position: relative;
  }

  .underline-hover-effect::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }


/* header */

header{
    background: url("images/version ordi/Fond\ accueil.png") no-repeat center / cover;
    border: 1px;
    min-height: 100vh;
}

.haut{
    margin: 0;
    height: 100%;
}

.menuacc{
margin: 0 20px;
justify-content: space-between;
gap: 100px;
}

.TITRES{
flex-direction: column;
width: 60%;
gap: 40px;
}

.titre{
    width: 100%;
}

header .menu a{
    color: white;
    font-size: 20px;
}

.menu{
    align-items: flex-start;
}

nav.ordi{
    gap: 30px;
}

nav a{
    font-size: 25px;
    padding: 13px 0;
}

#root{
    display: none;
}

#navburger, #burger{
    display: none;
}

/* séparation */

.séparation{
    margin: 47px 0;
    justify-content: center;
}

/* SF */
.SFtexte{
    width: 50%;
}

.slider img{
    display: none;
    width: 100%;
  }
  
  img.active{
    display: block;
  }

/* JV */

.imgp{
    display: none;
}

/* meta */

#Meta img{
    width:25%;
}

/* footer */

footer{
    margin-top: 47px;
    padding: 33px 16px;
    color: white;
    background: black;
}

footer a{
    color: white;
}


/* media */

/* intermédiaire */

@media (max-width: 1300px){

    /* JV */

    .imgord{
        display: none;
    }

    .imgp{
        display: block;
        width: 50%;
    }

    #JV{
        flex-direction: column;
        align-items: center;
    }

    /* meta */

#Meta img{
    width:50%;
}
}

@media (max-width: 900px){

    /* généralité */
    .ordi{
        display: none;
    }

    img{
        width: 70%;
    }

    .intermediaire{
        display: none;
    }


    .tel{
        display: block;
    }

    .flex{
        flex-direction: column;
        align-items: center;
    }

    .haut{
        flex-direction: row;
    }

    h1{
        font-size: 60px;
    }

    h2, .left{
        text-align: center;
    }

    h3{
      font-size: 40px;  
    }

    h1, h3{
        width: 90%;
        text-align: center;
    }
    /* header */

    header{
        min-height: 100vh;
    }

    .haut{
        flex-direction: row;
        align-items: flex-start;
    }

    .menuacc{
        flex-direction: row;
        justify-content: space-between;
    }

    .TITRES{
        width: 100%;
        text-align: center;
    }


    /* menu burger */

        nav a{
            padding: 5px 10px;
        }

       #navburger div{
        display       : flex;
        flex-direction: column;
        position: absolute;
        margin  : 0;
        right   : 0;
        top     : 20%;
        
      ;
        height   : 40vh;
       }
    
       #root {
        position: relative;
        overflow-x: hidden;
    }
    
    
     #navburger {
    
      display : none;
      position: absolute;
      top     : 70px;
      background:rgba(255, 255, 255, 0.8);
      right: 0;
      margin  : 0;
      z-index: 99;
      min-height: 25vh;
    
      transform-origin: 0% 0%;
      transform       : translate(200%, 0);
    
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    
     }
    
     #navburger.open {
        display: flex;
        flex-direction: column;
      transform: none;
      position : absolute;
    }
    
    #burger span{
      display      : block;
            position     : absolute;
            height       : 4px;
            width        : 100%;
            margin-bottom: 5px;
            background   : #ffffff;
            border-radius: 3px;
            z-index      : 100;
            left         : 0;
    
            transform : rotate(0deg);
            transition: .25s ease-in-out;
     }
    
    #burger{
    
      display    : block;
      position   : relative;
      margin     : 0 16px;
      width      : 33px;
      height     : 28px;
      z-index    : 100;
            user-select: none;
            cursor     : pointer;
    }
    
    #burger span:nth-child(1) {
      top             : 0px;
      transform-origin: left top;
    }
    #burger span:nth-child(2) {
      top             : 12px;
      transform-origin: left center;
    }
    #burger span:nth-child(3) {
      top             : 24px;
      transform-origin: left bottom;
    }
    
    #burger.open span:nth-child(1) {
      width    : 110%;
      transform: rotate(45deg);
    }
    #burger.open span:nth-child(2) {
      width  : 0%;
      opacity: 0;

    }
    #burger.open span:nth-child(3) {
      width    : 110%;
      transform: rotate(-45deg);

    }

    /* SF */

    .SFtexte{
        width: 100%;
    }

    /* img JV */

    .imgp{
        display: none;
    }

    /* meta */

#Meta img{
    width:50%;
}

    /* footer */

    .footer div{
        align-items: center;
    }

}